main {
  padding-top: 100px;
}

main .row {
  margin-bottom: 20px;
}

.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
}

.black {
  background-color: #408362;
  
}

.green {
  background-color: #408362;
}

.orange {
  background-color: #408362;
}

.blue {
  background-color: #408362;
}